<div class="foot-main">
    <div class="foot-top">
        <div class="top1">
            <h2 class="txt1">ABOUT US</h2>
            <p class="foot-content">Wordpandit is a product of Learning Inc., an alternate education and content company.We offer a unique learning approach,and stand for an exercise in 'LEARNING',for us as well as our users.</p>
        </div>
        
        <div class="top3">
            <h2 class="txt1">RECENT POSTS</h2>
            <p class="foot-content">Wordpandit is a product of Learning Inc., an alternate education and content company.We offer a unique learning approach,and stand for an exercise in 'LEARNING',for us as well as our users.</p>
           
                    
                  
        </div>
        <div class="top4">
            <h2 class="txt1">CONTACT US</h2>
            <p class="foot-content">Phone no:{{this.number}} <br><br>
            Email:{{this.email}}</p>
            
            <a href="tel:+91{{this.number}}">
                <img src="../../assets/icons8-phone-100.png" id="callimg">
            </a>
            <img (click)="sendmail()" src="../../assets/email.png" id="mailimg">
        </div>
    </div>
    <div class="foot-base">
        <img id="img1" src="../../assets/icons8-facebook-96.png">
        <img id="img2" src="../../assets/icons8-twitter-96 (1).png">
        <img id="img3" src="../../assets/google-plus.png">
    </div>
    <div class="row copyright">
        <p class="cright">&copy; Copyright Oliveboard.in - All Rights Reserved</p>
    </div>

</div>
