<div class="categories">
  <div class="legal ch">
  <h4>LEGAL</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ratione sequi dolore odio tempora. Ipsum officia minus eaque. Expedita sunt ullam sed Voluptatum ratione sequi dolore odio tempora.</p>
  <button class="btn btn-primary legalButton">Read more</button>
  </div>

  <div class="gk ch">
    <h4>GK</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At maxime magnam repellendus expedita exercitationem mollitia .Voluptatum ratione sequi dolore odio tempora.</p>
    <button class="btn btn-primary gkbutton" style="margin-top: 10%;">Read more</button>
  </div>

  <div class="criminal ch">
    <h4>CRIMINAL</h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex libero corrupti dolorum, numquam modi tempora aperiam vero consequatur odio maiores ratione .Voluptatum ratione sequi dolore odio tempora.</p>
    <button class="btn btn-primary cButton">Read more</button>
  </div>
</div>