<head>
  <script src="https://kit.fontawesome.com/be172330a4.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="features">
    <h2>Features</h2>
    <div class="row">
      <div class="exam-content box">
        <span class="icon"><i class="fas fa-book"></i></span>
        <p class="heading">up-to-date exam content</p>
        <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sint excepturi necessitatibus autem Lorem ipsum dolor sit amet consectetur adipisicing elit.<strong><i>Dolorem sit magni quod molestias delectus cumque repudiandae</i>
        </strong> ipsa optio aperiam dolores! Necessitatibus</p>
      </div>
      <div class="tests box">
        <span class="icon"><i class="fas fa-book-reader"></i></span>
        <p class="heading">Test series</p>
        <p class="para">Lorem ipsum dolor sit <strong> consectetur adipisicing elit. Ea sint excepturi necessitatibus</strong> autem magni quod molestias delectus cumque repudiandae, ipsa optio aperiam dolores! Necessitatibus soluta hic ipsum neque debitis ipsa odit sequi distinctio</p>
      </div>
      <div class="tests box">
        <span class="icon"><i class="fas fa-envelope-open-text"></i></span>
        <p class="heading">Exclusive judiciary prep</p>
        <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sint excepturi necessitatibus autem magni quod molestias delectus cumque repudiandae, ipsa optio aperiam dolores! Necessitatibus soluta hic ipsum neque debitis ipsa odit sequi distinctio</p>
      </div>
    </div>
  </div>
</body>

