<div class="message">
  <h2>We're happy to hear from you</h2>
  <div class="row">
    <form method="post" action="#" class="contact-form">
      <table class="table">
        <tr>
          <td><div class="left">
              <label for="name">Name</label>
          </div></td>
          <td><div class="right">
              <input type="text" name="name" id="name" placeholder="Your name" required>
          </div></td>
        </tr>
      <tr>
          <td><div class="left">
              <label for="Email">Email</label>
          </div></td>
          <td><div class="right">
              <input type="email" name="email" id="Email" placeholder="Your Email" required>
          </div></td>
        </tr>
      <tr>
        <td><div class="left">
            <label for="number">Phone number</label>
        </div></td>
        <td><div class="right">
            <input type="text" name="number" id="number" placeholder="Your phone number" required>
        </div></td>
      </tr>
      <tr>
          <td><div class="left">
              <label for="message">Drop us a line</label>
          </div></td>
          <td><div class="right">
              <textarea name="message" placeholder="Your message"></textarea>
          </div></td>
        </tr>
      <tr>
          <td><div class="left">
              <label>&nbsp;</label>
          </div></td>
          <td><div class="right">
              <button class="btn btn-primary">Send it!</button>
          </div></td>
        </tr>
    </table>
  </form>
  </div>
</div>
