.message{
  width: 100%;
  height: auto;
  background-color: rgba(240, 240, 240, 0.637);
  margin-top: 95%;
  padding-top: 20px;
  /* overflow-x: hidden;  */
}
h2{
  text-transform: uppercase;
  font-weight: 450;
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  letter-spacing: 1px;
}
h2:after{
  display: block;
  height: 3px;
  width: 100px;
  background-color: #4a91f2;
  content: " ";
  margin: 0 auto;
  margin-top: 10px;
}

.contact-form{
  width: 60%;
  margin: 20px;
  margin-left: 25%;
  margin-right: 10%;

}
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

*:focus {outline: none;}

/*Big tablets to 1200px*/
@media only screen and (max-width: 1200px){
  .message{
    margin-top: 130%;
  }
}

/*Small tablets to big tablets*/
@media only screen and (max-width: 1023px){
  .message{
    margin-top: 160%;
  }
}
/*Small phones to small tablets*/
@media only screen and (max-width: 767px){
  .message{
    margin-top: 220%;
  }
}

/*Small phones*/
@media only screen and (max-width: 480px){
  .message{
    margin-top: 550%;
  }
  h2{
    font-weight: 400;
    font-size: 130%;
    word-spacing: 2px;
  }
  h2:after{
    height: 2px;
    width: 100px;
    margin-top: 10px;
  }
  .contact-form{
    width: 80%;
    margin: 20px;
    margin-left: 12%;
    margin-right: 10%;
  
  }
}
@media only screen and (max-width: 350px){
  .message{
    margin-top: 810%;
  }
}
